
{{#each groceryLists as |groceryList|}}
  <div class="row" data-id="{{groceryList._id}}">
      <div class="column">
    <span>Title:&nbsp</span>{{groceryList.title}}
      </div>
      <div class="column">
        <span>List:&nbsp</span>{{limit groceryList.list 15}}
      </div>
      <div class="column">
        <button class="btn btn-danger edit-list-btn" data-id="{{groceryList._id}}">Edit</button>
        <button class="btn btn-danger delete-list-btn" data-id="{{groceryList._id}}">Remove</button>
      </div>
    </div>
{{/each}}
